name: colony
channels:
  - pytorch
  - defaults
dependencies:
  - python=3.10
  - numpy=1.26
  - scipy
  - scikit-learn
  - pandas
  - pillow
  - openpyxl
  - matplotlib
  - pip
  - pip:
      - torch
      - torchvision
      - tqdm
